.contenedor-info{
    display: flex;
    justify-content: space-evenly;
}

.img-p{
    width: 40%;
}

.contenedor-info .contenido-texto {
    width: 48%;
}

.contenido-texto h2 {
    display: inline-block;
    text-align: center;
    padding: 0px 0px 9px 0px;
}

.contenido-texto p{
    padding: 0px 0px 30px 0px;
    font-weight: 300;
    text-align: justify;
}

.container {
    margin-top: 8%;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
    margin: 0%;
}

.inner:hover img {
    transform: scale(1.5);
}