/* tipo de letra */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");


/* estilo delcontenido global de la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


html{
  overflow-x: hidden;
}
/* fin del estilo global */


/* estilo cuerpo de la pagina */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fefefe;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

/* estilo cuerpo de la pagina */


/* menú navegación */
header{
  width: 100%;
  height: auto;
  align-items: center;
  padding-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  padding: 16px 32px;
  border-bottom: 3px solid #0c320c;
  gap: 2;
}

.navbar {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
  
}

.navbar a {
  color: #0c320c;
  font-size: 18px;
  margin: 0 16px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
 }

 .navbar a.is-active, .navbar a:hover {
  background-color: #3d4f21;
  color: #fff;
 }
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: 0;
  display: flex;
  padding: 0 0 0 0px;
}
/*menu hamburguesa*/
.hamburguer {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburguer span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #3d4f21;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburguer:hover span:nth-child(2)  {
transform: translateX(10px);
background-color: #908f61;
}
.hamburguer:hover span:nth-child(3)  {
  transform: translateX(-10px);
  background-color: #908f61;
  }

.hamburguer.is-active span:nth-child(2){
  transform: translate(5px, -6px) rotate(45deg);
}

.hamburguer.is-active span:nth-child(3){
  transform: translate(6px, 8px) rotate(-45deg);
}
.hamburguer.is-active span:nth-child(1){
  opacity: 0;
  transform: translateX(15px);
}
.hamburguer.is-active span:nth-child(4){
  opacity: 0;
  transform: translateX(15px);
}

@media (min-width: 768px){
  .hamburguer {
    display:none;
  }
  .navbar li {
    display: flex;
    
  }

  .txtHead__div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .txtHead__h1 {
    font-size: 4em;
  }
  .txtHead__p {
    font-size: 20px;
  }
  
  .section-1 .row .col-md-6 .panel {
    position: absolute;
    padding: 30px 40px;
  }
  
  .sedes {
    width: 70%;
  }
 
}
/* fin menú hamburguesa */
/* fin menú navegación */


/* imagen principal */
.txtHead {
  width: 100%;
  height: 100vh;
  background-image: url(../img/plantas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txtHead__div {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.txtHead__h1,
.txtHead__p {
  color: #fff;
  animation: bounceInUp;
  animation-duration: 3s;
}

.txtHead__p {
  font-size: 18px;
  text-align: center;
}

.txtHead__h1 {
  margin: 20px 0;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
 
}

.txtHead__boton {
  background-color: #fefefe;
  border-radius: 20px;
  margin: 20px;
  padding: 12px 45px;
}

.txtHead__boton a {
  text-decoration: none;
  color: #0e0e0e;
}

.txtHead__boton:hover {
  background-color: #dfdfdfee;
}

/* fin imagen principal */


/* contenedor de texto misión, visión */

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 15em;
  border-radius: 1em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  
  top: 7vmin;
  left: -18vmin;
  background: #fff;
  border-radius: 10px;
  text-align: left;
  padding: 10vmin 10vmin 15vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: none;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: #0c320c;
}


/* fin contenedor de texto */


/* tarjetas de informacion */
.container {
  margin-top: 8%;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all .8s ease;
  margin: 0%;
}

.inner:hover img {
  transform: scale(1.5);
}



/* tarjetas de informacion */


/* linea separador */
.line {
  width: 80%;
  margin: 10px auto 20px;
  border-bottom: 1px solid gray;
}

/* fin linea separador */


/* seccion texto con planeta */


.encabezado {

  text-align: center;
  justify-content: center;
  align-items: center;
  

}

.encabezado h2 {
  font-weight: bold;
  color: #3d4f21;
  font-size: 3em;
  display: flex;
  text-align: center;
justify-content: center;
width: 100%;
}


.boton-encabezado button {
  font-size: 20px;
  background-color: #f9f9f6;
  border-radius: 40px;
  border: 2px solid #3d4f21;
  color: #3d4f21;
  padding: 15px 50px;
}

.boton-encabezado button:hover,
.tabla-sedes button:hover {
  background-color: #3d4f21;
  box-shadow: 0 0 8px 2px #3d4f21;
  color: #fff;
}

.sedes {
  
  text-align: center;
  justify-content: center;
  width: 100%;
}

.sedes p {
  font-size: 20px;
  margin: 25px 5px;

}


.tabla-sedes {
  margin: 10px 2px;
}

.tabla-sedes button {
  background-color: #f9f9f6;
  border-radius: 30px;
  border: 1px solid #0c320c;
  font-weight: bold;
  color: #3d4f21;
  margin: 5px 10px;
  padding: 16px 50px;
}



table,
tr,
td {
  border: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* estilos para el planeta */

.contenedor-planeta {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.seccion-planeta {
  display: flex;
  justify-content: center;
  width: 100%;
}
.planeta {
  width: 100%;
  margin: 20px;

}

.planet {

  width: 13em;
  height: 13em;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  background: url("../img/planeta.png");
  background-size: cover;
  position: relative;
  animation: planetmove 5s linear infinite;
}

/* animacion del paneta */
@keyframes planetmove {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -800px;
  }
}

/* fin estilos para el planeta */

/* seccion texto con planeta */


/* footer */
.footer {
  padding: 40px 0;
  background-color: #908f9061;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #3d4f21;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #3d4f21;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #0c320c;
}

/* fin del footer */


/* CSS PARA EL CAROUSEL*/
h3 {
  text-align: center;
  justify-content: center;
  color: #0c320c;
  font-weight: bold;
  font-size: 60px;
}

.carousel-section {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 0 #0c320c,
    0 0 10px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}


.carousel {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}


.slider-div {
  width: 100%;
}

.img_slider {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #908f61;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.carousel_btn:hover {
  background-color: #f9f9f6;
  color: #0c320c;
}

.btn-right {
  right: 10px;
}

.btn-left {
  left: 10px;
}

/*FIN DEL CSS PARA EL CAROUSEL*/


/*CSS PARA EL BOTON DE SUBIR*/
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}

.go-top-btn {
  width: 0rem;
  height: 0rem;
  background: #3d4f21;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-btn i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: .2s;
}

.show {
  z-index: 10;
}

.show .go-top-btn {
  animation: popup .4s ;
  width: 4rem;
  height: 4rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

/* animacion del boton para volver al inicio */
@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }

  50% {
    width: 8rem;
    height: 8rem;
  }

  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}

/*FIN DEL CSS PARA EL BOTON SUBIR*/
